## Import e funzioni utili

In [58]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as snsfrom 
from google.colab import drive
from sklearn.preprocessing import MinMaxScaler

local = False

LOCAL_URL = "dropoutData/"
CLOUD_URL = "/content/drive/My Drive/dataset/Dropout/"

base_url = ""

if(local):
  base_url = LOCAL_URL
else:
  base_url = CLOUD_URL


def print_missing_values(dt):
  pd.options.mode.use_inf_as_na = True
  for col in dt.columns:
    na = int(dt[col].isna().sum())
    print("Column '" + col + "' has " + str(na) + " missing values")

def print_columns_len(dt):
  for col in dt.columns:
    print("column '" + col + "' has " + str(len(dt[col])) + " values")

# DATA PREPROCESSING

## Acquisizione dati

In [59]:
if(not local):
  drive.mount('/content/drive')

df = pd.read_excel(base_url + 'stud_2016_2018.xlsx')
df_esami = pd.read_excel(base_url + 'esami_2016_2018.xlsx')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID_Studente,Coorte,DataNascita,Genere,Diploma_scuola_superiore,voto_scuola_superiore,area_geografica_scuolasuperiore,area_geografica_residenza,Classe_ISEE,Merito_ISEE,OFA_assegnati,OFA_superati,CdS,TipoCorso,Ambito,Sede,Campus,Abbandoni,Passaggi,Trasferimenti
0,1,2017,1998-02-26,1,2,79.0,1,1,5,36332.49,0,0,8514,L,9,RIMINI,5,0,0,0
1,2,2016,1997-10-06,1,2,75.0,1,99,0,NaN,0,0,8513,L,9,BOLOGNA,1,0,0,0
2,3,2017,1986-08-29,1,6,74.0,1,1,1,NaN,0,0,8871,L,1,BOLOGNA,1,0,0,0
3,4,2017,1998-01-23,1,2,63.0,1,1,1,NaN,1,1,8766,L,12,RIMINI,5,0,0,0
4,5,2018,1999-07-04,2,1,98.0,1,1,4,23492.63,0,0,9233,LMCU,3,RAVENNA,4,0,0,0

## Missing values

FILLING SU VALORI MANCANTI DI voto_scuola_superiore


Per ogni studente senza voto, calcolo la mediana del voto tra l'insieme di studenti che hanno in comune area_geografica_scuola_superiore e Diploma_scuola_superiore

In [60]:
voto_scuola_superiore_mean = round(df['voto_scuola_superiore'].mean(), 2)

def calculate_mean_vote_with_similar_area_n_diploma(dt, area_scuola, area_residenza, diploma):
    if(diploma == 9):
        return voto_scuola_superiore_mean
    similar_student = dt.loc[(dt['Diploma_scuola_superiore'] == diploma) & ((dt['area_geografica_residenza'] == area_residenza) | (dt['area_geografica_scuolasuperiore'] == area_scuola))]#(dt['area_geografica_residenza'] == area_residenza | dt['area_geografica_scuolasuperiore'] == area_scuola)]
    return round(similar_student['voto_scuola_superiore'].mean(), 2)
    
cacheMap = {"11": 81}

students_without_vote = df.loc[df['voto_scuola_superiore'].isna()]

print(students_without_vote.shape)


for index, row in students_without_vote.iterrows():
    key = str(row.area_geografica_scuolasuperiore) + str(row.Diploma_scuola_superiore)
    if key in cacheMap:
        df.loc[index, 'voto_scuola_superiore'] =  cacheMap[key]
    else:
        median_vote = calculate_mean_vote_with_similar_area_n_diploma(df, row.area_geografica_scuolasuperiore, row.area_geografica_residenza,row.Diploma_scuola_superiore)
        df.loc[index, 'voto_scuola_superiore'] = median_vote
        cacheMap[key] = median_vote

#pd.options.mode.use_inf_as_na = True
print(df['voto_scuola_superiore'].isna().sum())

(11489, 20)
0

## Data trasformation

Trasformazioni da effettuare nel dataset:


*   modifica data di nascita in anno di nascita (int64)
*   one hot-econding su (coorte, Diploma_scuola_superiore, area_geografica_scuolasuperiore, area_geografica_residenza)
*   filling su voto_scuola_superiore (utilizzando la mediana dei valori dell'intorno calcolato su area_geografica_scuola_superiore e Diploma_scuola_superiore)
*   filling Merito_ISEE (la classe_ISEE in questo caso agisce come indicatore di reddito famigliare) a questo punto, si
      si potrebbe procedere creando una feature continua, la contribuzione_tasse, che indichi la contribuzione delle tasse,
      quindi tutti gli studenti con classe_ISEE (0, 1) avranno contribuzione_tasse pari a 0. L'implementazione sarà congrua
      con gli scaglioni delle tasse di unibo nel 2016/2017 - 2017/2018 - 2018/2019
*   modifica il tipo di corso con durata_corso -> L: 3, LM: 2, LMCU: 5


A questo punto Classe_ISEE è un buon indicatore del reddito familiare e contribuzione_tasse del contributo pagato

In [61]:
# ESTRAPOLAZIONE ANNO DI NASCITA - DURATA CORSO - GENERE
def get_year(date):
    return date.year

def get_duration(course_type):
    if(course_type == "L"):
        return 3
    elif(course_type == "LM"):
        return 2
    elif(course_type == "LMCU"):
        return 5
    
def get_genre(genre):
    if(genre == 1):
        return 0
    else:
        return 1

df['AnnoNascita'] = df['DataNascita'].apply(get_year)
df.drop('DataNascita', axis=1, inplace=True)

df['DurataCorso'] = df['TipoCorso'].apply(get_duration)
df.drop('TipoCorso', axis=1, inplace=True)

df['Genere'] = df['Genere'].apply(get_genre)


# FILLING Merito_ISEE
                
def calculate_contribuzione_tasse(dt):
    nrows = dt.shape[0]
    for i in range(nrows):
        current = dt.iloc[i]
        if(current['Coorte'] == 2016):
            if(current['Classe_ISEE'] == 0 or current['Classe_ISEE'] == 1) : dt.loc[i, "Contribuzione_tasse"] = 1
            elif(current['Merito_ISEE'] <= 23000) : dt.loc[i, "Contribuzione_tasse"] = 0
            elif(current['Merito_ISEE'] <= 28880.63) : dt.loc[i, "Contribuzione_tasse"] = 0.5
            elif(current['Merito_ISEE'] <= 33371.84) : dt.loc[i, "Contribuzione_tasse"] = 0.6
            elif(current['Merito_ISEE'] <= 38506.71) : dt.loc[i, "Contribuzione_tasse"] = 0.7
            elif(current['Merito_ISEE'] <= 44922.89) : dt.loc[i, "Contribuzione_tasse"] = 0.8
            elif(current['Merito_ISEE'] <= 51337.89) : dt.loc[i, "Contribuzione_tasse"] = 0.9
            elif(current['Merito_ISEE'] >= 51337.90) : dt.loc[i, "Contribuzione_tasse"] = 1
        else:
            if(current['Classe_ISEE'] == 0 or current['Classe_ISEE'] == 1) : dt.loc[i, "Contribuzione_tasse"] = 1
            elif(current['Merito_ISEE'] <= 23000) : dt.loc[i, "Contribuzione_tasse"] = 0
            elif(current['Merito_ISEE'] <= 33000) : dt.loc[i, "Contribuzione_tasse"] = 0.5
            elif(current['Merito_ISEE'] <= 45000) : dt.loc[i, "Contribuzione_tasse"] = 0.7
            elif(current['Merito_ISEE'] <= 60000) : dt.loc[i, "Contribuzione_tasse"] = 0.8
            elif(current['Merito_ISEE'] <= 70000) : dt.loc[i, "Contribuzione_tasse"] = 0.9
            elif(current['Merito_ISEE'] >= 70001) : dt.loc[i, "Contribuzione_tasse"] = 1
                
calculate_contribuzione_tasse(df)
df.drop('Merito_ISEE', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67280 entries, 0 to 67279
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID_Studente                      67280 non-null  int64
 1   Coorte                           67280 non-null  int64
 2   Genere                           67280 non-null  int64
 3   Diploma_scuola_superiore         67280 non-null  int64
 4   voto_scuola_superiore            67280 non-null  float64
 5   area_geografica_scuolasuperiore  67280 non-null  int64
 6   area_geografica_residenza        67280 non-null  int64
 7   Classe_ISEE                      67280 non-null  int64
 8   OFA_assegnati                    67280 non-null  int64
 9   OFA_superati                     67280 non-null  int64
 10  CdS                              67280 non-null  int64
 11  Ambito                           67280 non-null  int64
 12  Sede                             67280 non-null  object
 13  Campus                           67280 non-null  int64
 14  Abbandoni                        67280 non-null  int64
 15  Passaggi                         67280 non-null  int64
 16  Trasferimenti                    67280 non-null  int64
 17  AnnoNascita                      67280 non-null  int64
 18  DurataCorso                      67280 non-null  int64
 19  Contribuzione_tasse              67280 non-null  float64
dtypes: float64(2), int64(17), object(1)
memory usage: 10.3+ MB

### One-hot-encode

In [62]:
def one_hot_encode_n_merge(dt, column, prefix = None):
    name = prefix if prefix is not None else column
    encoded = pd.get_dummies(dt[column], prefix=name)
    return pd.concat([dt, encoded], axis=1)
    
# ONE HOT ENCODING Coorte
df = one_hot_encode_n_merge(df, 'Coorte')
df.drop('Coorte', axis=1, inplace=True)

# ONE HOT ENCODING Diploma_scuola_superiore
df = one_hot_encode_n_merge(df, 'Diploma_scuola_superiore', 'Diploma')
df.drop('Diploma_scuola_superiore', axis=1, inplace=True)

# ONE HOT ENCODING area_geografica_scuolasuperiore
df = one_hot_encode_n_merge(df, 'area_geografica_scuolasuperiore')
df.drop('area_geografica_scuolasuperiore', axis=1, inplace=True)

# ONE HOT ENCODING area_geografica_residenza
df = one_hot_encode_n_merge(df, 'area_geografica_residenza')
df.drop('area_geografica_residenza', axis=1, inplace=True)

# ONE HOT ENCODING CdS
df = one_hot_encode_n_merge(df, 'CdS')
df.drop('CdS', axis=1, inplace=True)

# ONE HOT ENCODING Ambito
df = one_hot_encode_n_merge(df, 'Ambito')
df.drop('Ambito', axis=1, inplace=True)

# DROP Sede
df.drop('Sede', axis=1, inplace=True)

# ONE HOT ENCODING Campus
df = one_hot_encode_n_merge(df, 'Campus')
df.drop('Campus', axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67280 entries, 0 to 67279
Columns: 310 entries, ID_Studente to Campus_5
dtypes: float64(2), int64(10), uint8(298)
memory usage: 25.3 MB

## Aggiunta informazioni degli esami al dataset
Verranno estrapolate le seguenti informazioni per poi essere aggiunte al dataset degli studenti:
- Numero di cfu conseguiti da ogni studente
- Media dei voti degli esami

Ci sono 910 studenti senza media (oltre i 5587 che non hanno neanche cfu conseguiti, che vengono rimossi), si è optato per riempire la colonna della media voti con la media di tutti gli studenti così da non influire statisticamente

In [63]:
df_esami.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321282 entries, 0 to 321281
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID_Studente       321282 non-null  int64
 1   CdS               321282 non-null  object
 2   Cod.Indirizzo     321282 non-null  object
 3   Cod.Orientamento  321282 non-null  int64
 4   Cod.Materia       321282 non-null  object
 5   Materia           321282 non-null  object
 6   Giorno_esame      321282 non-null  datetime64[ns]
 7   Voto_se_numerico  290365 non-null  float64
 8   CFUsuperati       321282 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 22.1+ MB

In [64]:
media_voti = df_esami.groupby(['ID_Studente']).mean()['Voto_se_numerico']
cfu_superati = df_esami.groupby(['ID_Studente']).sum()['CFUsuperati']

media_voti = media_voti.fillna(media_voti.mean())

dt = pd.merge(df, media_voti, left_on = 'ID_Studente', right_on = 'ID_Studente', how = 'left')
dt = pd.merge(dt, cfu_superati, left_on = 'ID_Studente', right_on = 'ID_Studente', how = 'left')
dt = dt.rename(columns={"Voto_se_numerico": "media_voto", "CFUsuperati": "cfu_superati"})

dt.dropna(subset=['media_voto', 'cfu_superati'], axis=0, inplace=True)

print_missing_values(dt)
print("\n#######################################################\n")
print_columns_len(dt)

Column 'ID_Studente' has 0 missing values
Column 'Genere' has 0 missing values
Column 'voto_scuola_superiore' has 0 missing values
Column 'Classe_ISEE' has 0 missing values
Column 'OFA_assegnati' has 0 missing values
Column 'OFA_superati' has 0 missing values
Column 'Abbandoni' has 0 missing values
Column 'Passaggi' has 0 missing values
Column 'Trasferimenti' has 0 missing values
Column 'AnnoNascita' has 0 missing values
Column 'DurataCorso' has 0 missing values
Column 'Contribuzione_tasse' has 0 missing values
Column 'Coorte_2016' has 0 missing values
Column 'Coorte_2017' has 0 missing values
Column 'Coorte_2018' has 0 missing values
Column 'Diploma_1' has 0 missing values
Column 'Diploma_2' has 0 missing values
Column 'Diploma_3' has 0 missing values
Column 'Diploma_4' has 0 missing values
Column 'Diploma_5' has 0 missing values
Column 'Diploma_6' has 0 missing values
Column 'Diploma_7' has 0 missing values
Column 'Diploma_8' has 0 missing values
Column 'Diploma_9' has 0 missing values
Column 'Diploma_99' has 0 missing values
Column 'area_geografica_scuolasuperiore_1' has 0 missing values
Column 'area_geografica_scuolasuperiore_2' has 0 missing values
Column 'area_geografica_scuolasuperiore_3' has 0 missing values
Column 'area_geografica_scuolasuperiore_4' has 0 missing values
Column 'area_geografica_scuolasuperiore_5' has 0 missing values
Column 'area_geografica_scuolasuperiore_99' has 0 missing values
Column 'area_geografica_residenza_1' has 0 missing values
Column 'area_geografica_residenza_2' has 0 missing values
Column 'area_geografica_residenza_3' has 0 missing values
Column 'area_geografica_residenza_4' has 0 missing values
Column 'area_geografica_residenza_5' has 0 missing values
Column 'area_geografica_residenza_99' has 0 missing values
Column 'CdS_659' has 0 missing values
Column 'CdS_660' has 0 missing values
Column 'CdS_881' has 0 missing values
Column 'CdS_884' has 0 missing values
Column 'CdS_897' has 0 missing values
Column 'CdS_899' has 0 missing values
Column 'CdS_900' has 0 missing values
Column 'CdS_901' has 0 missing values
Column 'CdS_902' has 0 missing values
Column 'CdS_905' has 0 missing values
Column 'CdS_915' has 0 missing values
Column 'CdS_916' has 0 missing values
Column 'CdS_920' has 0 missing values
Column 'CdS_923' has 0 missing values
Column 'CdS_924' has 0 missing values
Column 'CdS_925' has 0 missing values
Column 'CdS_926' has 0 missing values
Column 'CdS_927' has 0 missing values
Column 'CdS_930' has 0 missing values
Column 'CdS_934' has 0 missing values
Column 'CdS_935' has 0 missing values
Column 'CdS_936' has 0 missing values
Column 'CdS_937' has 0 missing values
Column 'CdS_938' has 0 missing values
Column 'CdS_940' has 0 missing values
Column 'CdS_946' has 0 missing values
Column 'CdS_949' has 0 missing values
Column 'CdS_956' has 0 missing values
Column 'CdS_957' has 0 missing values
Column 'CdS_962' has 0 missing values
Column 'CdS_964' has 0 missing values
Column 'CdS_966' has 0 missing values
Column 'CdS_970' has 0 missing values
Column 'CdS_971' has 0 missing values
Column 'CdS_973' has 0 missing values
Column 'CdS_977' has 0 missing values
Column 'CdS_979' has 0 missing values
Column 'CdS_980' has 0 missing values
Column 'CdS_981' has 0 missing values
Column 'CdS_983' has 0 missing values
Column 'CdS_989' has 0 missing values
Column 'CdS_990' has 0 missing values
Column 'CdS_991' has 0 missing values
Column 'CdS_992' has 0 missing values
Column 'CdS_993' has 0 missing values
Column 'CdS_8004' has 0 missing values
Column 'CdS_8005' has 0 missing values
Column 'CdS_8006' has 0 missing values
Column 'CdS_8007' has 0 missing values
Column 'CdS_8009' has 0 missing values
Column 'CdS_8010' has 0 missing values
Column 'CdS_8011' has 0 missing values
Column 'CdS_8012' has 0 missing values
Column 'CdS_8014' has 0 missing values
Column 'CdS_8015' has 0 missing values
Column 'CdS_8016' has 0 missing values
Column 'CdS_8018' has 0 missing values
Column 'CdS_8020' has 0 missing values
Column 'CdS_8021' has 0 missing values
Column 'CdS_8022' has 0 missing values
Column 'CdS_8023' has 0 missing values
Column 'CdS_8025' has 0 missing values
Column 'CdS_8026' has 0 missing values
Column 'CdS_8027' has 0 missing values
Column 'CdS_8028' has 0 missing values
Column 'CdS_8036' has 0 missing values
Column 'CdS_8037' has 0 missing values
Column 'CdS_8038' has 0 missing values
Column 'CdS_8040' has 0 missing values
Column 'CdS_8048' has 0 missing values
Column 'CdS_8049' has 0 missing values
Column 'CdS_8051' has 0 missing values
Column 'CdS_8059' has 0 missing values
Column 'CdS_8060' has 0 missing values
Column 'CdS_8182' has 0 missing values
Column 'CdS_8198' has 0 missing values
Column 'CdS_8204' has 0 missing values
Column 'CdS_8208' has 0 missing values
Column 'CdS_8209' has 0 missing values
Column 'CdS_8210' has 0 missing values
Column 'CdS_8263' has 0 missing values
Column 'CdS_8406' has 0 missing values
Column 'CdS_8408' has 0 missing values
Column 'CdS_8412' has 0 missing values
Column 'CdS_8413' has 0 missing values
Column 'CdS_8414' has 0 missing values
Column 'CdS_8415' has 0 missing values
Column 'CdS_8418' has 0 missing values
Column 'CdS_8419' has 0 missing values
Column 'CdS_8420' has 0 missing values
Column 'CdS_8470' has 0 missing values
Column 'CdS_8473' has 0 missing values
Column 'CdS_8474' has 0 missing values
Column 'CdS_8475' has 0 missing values
Column 'CdS_8476' has 0 missing values
Column 'CdS_8477' has 0 missing values
Column 'CdS_8478' has 0 missing values
Column 'CdS_8479' has 0 missing values
Column 'CdS_8481' has 0 missing values
Column 'CdS_8482' has 0 missing values
Column 'CdS_8483' has 0 missing values
Column 'CdS_8484' has 0 missing values
Column 'CdS_8485' has 0 missing values
Column 'CdS_8486' has 0 missing values
Column 'CdS_8487' has 0 missing values
Column 'CdS_8488' has 0 missing values
Column 'CdS_8491' has 0 missing values
Column 'CdS_8493' has 0 missing values
Column 'CdS_8495' has 0 missing values
Column 'CdS_8512' has 0 missing values
Column 'CdS_8513' has 0 missing values
Column 'CdS_8514' has 0 missing values
Column 'CdS_8515' has 0 missing values
Column 'CdS_8517' has 0 missing values
Column 'CdS_8518' has 0 missing values
Column 'CdS_8519' has 0 missing values
Column 'CdS_8521' has 0 missing values
Column 'CdS_8522' has 0 missing values
Column 'CdS_8523' has 0 missing values
Column 'CdS_8524' has 0 missing values
Column 'CdS_8525' has 0 missing values
Column 'CdS_8526' has 0 missing values
Column 'CdS_8527' has 0 missing values
Column 'CdS_8528' has 0 missing values
Column 'CdS_8531' has 0 missing values
Column 'CdS_8532' has 0 missing values
Column 'CdS_8537' has 0 missing values
Column 'CdS_8540' has 0 missing values
Column 'CdS_8609' has 0 missing values
Column 'CdS_8610' has 0 missing values
Column 'CdS_8611' has 0 missing values
Column 'CdS_8614' has 0 missing values
Column 'CdS_8615' has 0 missing values
Column 'CdS_8616' has 0 missing values
Column 'CdS_8617' has 0 missing values
Column 'CdS_8626' has 0 missing values
Column 'CdS_8766' has 0 missing values
Column 'CdS_8767' has 0 missing values
Column 'CdS_8769' has 0 missing values
Column 'CdS_8770' has 0 missing values
Column 'CdS_8771' has 0 missing values
Column 'CdS_8772' has 0 missing values
Column 'CdS_8773' has 0 missing values
Column 'CdS_8774' has 0 missing values
Column 'CdS_8775' has 0 missing values
Column 'CdS_8776' has 0 missing values
Column 'CdS_8777' has 0 missing values
Column 'CdS_8778' has 0 missing values
Column 'CdS_8779' has 0 missing values
Column 'CdS_8780' has 0 missing values
Column 'CdS_8782' has 0 missing values
Column 'CdS_8783' has 0 missing values
Column 'CdS_8784' has 0 missing values
Column 'CdS_8786' has 0 missing values
Column 'CdS_8829' has 0 missing values
Column 'CdS_8834' has 0 missing values
Column 'CdS_8835' has 0 missing values
Column 'CdS_8836' has 0 missing values
Column 'CdS_8837' has 0 missing values
Column 'CdS_8838' has 0 missing values
Column 'CdS_8839' has 0 missing values
Column 'CdS_8840' has 0 missing values
Column 'CdS_8842' has 0 missing values
Column 'CdS_8843' has 0 missing values
Column 'CdS_8845' has 0 missing values
Column 'CdS_8847' has 0 missing values
Column 'CdS_8848' has 0 missing values
Column 'CdS_8849' has 0 missing values
Column 'CdS_8850' has 0 missing values
Column 'CdS_8853' has 0 missing values
Column 'CdS_8854' has 0 missing values
Column 'CdS_8855' has 0 missing values
Column 'CdS_8856' has 0 missing values
Column 'CdS_8857' has 0 missing values
Column 'CdS_8859' has 0 missing values
Column 'CdS_8871' has 0 missing values
Column 'CdS_8872' has 0 missing values
Column 'CdS_8873' has 0 missing values
Column 'CdS_8874' has 0 missing values
Column 'CdS_8875' has 0 missing values
Column 'CdS_8876' has 0 missing values
Column 'CdS_8877' has 0 missing values
Column 'CdS_8878' has 0 missing values
Column 'CdS_8879' has 0 missing values
Column 'CdS_8880' has 0 missing values
Column 'CdS_8882' has 0 missing values
Column 'CdS_8883' has 0 missing values
Column 'CdS_8884' has 0 missing values
Column 'CdS_8885' has 0 missing values
Column 'CdS_8886' has 0 missing values
Column 'CdS_8887' has 0 missing values
Column 'CdS_8888' has 0 missing values
Column 'CdS_8889' has 0 missing values
Column 'CdS_8890' has 0 missing values
Column 'CdS_8891' has 0 missing values
Column 'CdS_8894' has 0 missing values
Column 'CdS_8895' has 0 missing values
Column 'CdS_8896' has 0 missing values
Column 'CdS_8965' has 0 missing values
Column 'CdS_9021' has 0 missing values
Column 'CdS_9022' has 0 missing values
Column 'CdS_9174' has 0 missing values
Column 'CdS_9198' has 0 missing values
Column 'CdS_9199' has 0 missing values
Column 'CdS_9200' has 0 missing values
Column 'CdS_9201' has 0 missing values
Column 'CdS_9202' has 0 missing values
Column 'CdS_9203' has 0 missing values
Column 'CdS_9205' has 0 missing values
Column 'CdS_9206' has 0 missing values
Column 'CdS_9210' has 0 missing values
Column 'CdS_9211' has 0 missing values
Column 'CdS_9212' has 0 missing values
Column 'CdS_9213' has 0 missing values
Column 'CdS_9214' has 0 missing values
Column 'CdS_9215' has 0 missing values
Column 'CdS_9216' has 0 missing values
Column 'CdS_9217' has 0 missing values
Column 'CdS_9218' has 0 missing values
Column 'CdS_9219' has 0 missing values
Column 'CdS_9220' has 0 missing values
Column 'CdS_9221' has 0 missing values
Column 'CdS_9222' has 0 missing values
Column 'CdS_9223' has 0 missing values
Column 'CdS_9224' has 0 missing values
Column 'CdS_9225' has 0 missing values
Column 'CdS_9226' has 0 missing values
Column 'CdS_9227' has 0 missing values
Column 'CdS_9228' has 0 missing values
Column 'CdS_9229' has 0 missing values
Column 'CdS_9230' has 0 missing values
Column 'CdS_9231' has 0 missing values
Column 'CdS_9232' has 0 missing values
Column 'CdS_9233' has 0 missing values
Column 'CdS_9234' has 0 missing values
Column 'CdS_9235' has 0 missing values
Column 'CdS_9236' has 0 missing values
Column 'CdS_9237' has 0 missing values
Column 'CdS_9238' has 0 missing values
Column 'CdS_9239' has 0 missing values
Column 'CdS_9242' has 0 missing values
Column 'CdS_9243' has 0 missing values
Column 'CdS_9244' has 0 missing values
Column 'CdS_9245' has 0 missing values
Column 'CdS_9246' has 0 missing values
Column 'CdS_9247' has 0 missing values
Column 'CdS_9249' has 0 missing values
Column 'CdS_9250' has 0 missing values
Column 'CdS_9254' has 0 missing values
Column 'CdS_9255' has 0 missing values
Column 'CdS_9256' has 0 missing values
Column 'CdS_9257' has 0 missing values
Column 'Ambito_1' has 0 missing values
Column 'Ambito_2' has 0 missing values
Column 'Ambito_3' has 0 missing values
Column 'Ambito_4' has 0 missing values
Column 'Ambito_5' has 0 missing values
Column 'Ambito_6' has 0 missing values
Column 'Ambito_7' has 0 missing values
Column 'Ambito_8' has 0 missing values
Column 'Ambito_9' has 0 missing values
Column 'Ambito_10' has 0 missing values
Column 'Ambito_11' has 0 missing values
Column 'Ambito_12' has 0 missing values
Column 'Ambito_13' has 0 missing values
Column 'Ambito_14' has 0 missing values
Column 'Ambito_15' has 0 missing values
Column 'Ambito_16' has 0 missing values
Column 'Campus_1' has 0 missing values
Column 'Campus_2' has 0 missing values
Column 'Campus_3' has 0 missing values
Column 'Campus_4' has 0 missing values
Column 'Campus_5' has 0 missing values
Column 'media_voto' has 0 missing values
Column 'cfu_superati' has 0 missing values

#######################################################

column 'ID_Studente' has 61693 values
column 'Genere' has 61693 values
column 'voto_scuola_superiore' has 61693 values
column 'Classe_ISEE' has 61693 values
column 'OFA_assegnati' has 61693 values
column 'OFA_superati' has 61693 values
column 'Abbandoni' has 61693 values
column 'Passaggi' has 61693 values
column 'Trasferimenti' has 61693 values
column 'AnnoNascita' has 61693 values
column 'DurataCorso' has 61693 values
column 'Contribuzione_tasse' has 61693 values
column 'Coorte_2016' has 61693 values
column 'Coorte_2017' has 61693 values
column 'Coorte_2018' has 61693 values
column 'Diploma_1' has 61693 values
column 'Diploma_2' has 61693 values
column 'Diploma_3' has 61693 values
column 'Diploma_4' has 61693 values
column 'Diploma_5' has 61693 values
column 'Diploma_6' has 61693 values
column 'Diploma_7' has 61693 values
column 'Diploma_8' has 61693 values
column 'Diploma_9' has 61693 values
column 'Diploma_99' has 61693 values
column 'area_geografica_scuolasuperiore_1' has 61693 values
column 'area_geografica_scuolasuperiore_2' has 61693 values
column 'area_geografica_scuolasuperiore_3' has 61693 values
column 'area_geografica_scuolasuperiore_4' has 61693 values
column 'area_geografica_scuolasuperiore_5' has 61693 values
column 'area_geografica_scuolasuperiore_99' has 61693 values
column 'area_geografica_residenza_1' has 61693 values
column 'area_geografica_residenza_2' has 61693 values
column 'area_geografica_residenza_3' has 61693 values
column 'area_geografica_residenza_4' has 61693 values
column 'area_geografica_residenza_5' has 61693 values
column 'area_geografica_residenza_99' has 61693 values
column 'CdS_659' has 61693 values
column 'CdS_660' has 61693 values
column 'CdS_881' has 61693 values
column 'CdS_884' has 61693 values
column 'CdS_897' has 61693 values
column 'CdS_899' has 61693 values
column 'CdS_900' has 61693 values
column 'CdS_901' has 61693 values
column 'CdS_902' has 61693 values
column 'CdS_905' has 61693 values
column 'CdS_915' has 61693 values
column 'CdS_916' has 61693 values
column 'CdS_920' has 61693 values
column 'CdS_923' has 61693 values
column 'CdS_924' has 61693 values
column 'CdS_925' has 61693 values
column 'CdS_926' has 61693 values
column 'CdS_927' has 61693 values
column 'CdS_930' has 61693 values
column 'CdS_934' has 61693 values
column 'CdS_935' has 61693 values
column 'CdS_936' has 61693 values
column 'CdS_937' has 61693 values
column 'CdS_938' has 61693 values
column 'CdS_940' has 61693 values
column 'CdS_946' has 61693 values
column 'CdS_949' has 61693 values
column 'CdS_956' has 61693 values
column 'CdS_957' has 61693 values
column 'CdS_962' has 61693 values
column 'CdS_964' has 61693 values
column 'CdS_966' has 61693 values
column 'CdS_970' has 61693 values
column 'CdS_971' has 61693 values
column 'CdS_973' has 61693 values
column 'CdS_977' has 61693 values
column 'CdS_979' has 61693 values
column 'CdS_980' has 61693 values
column 'CdS_981' has 61693 values
column 'CdS_983' has 61693 values
column 'CdS_989' has 61693 values
column 'CdS_990' has 61693 values
column 'CdS_991' has 61693 values
column 'CdS_992' has 61693 values
column 'CdS_993' has 61693 values
column 'CdS_8004' has 61693 values
column 'CdS_8005' has 61693 values
column 'CdS_8006' has 61693 values
column 'CdS_8007' has 61693 values
column 'CdS_8009' has 61693 values
column 'CdS_8010' has 61693 values
column 'CdS_8011' has 61693 values
column 'CdS_8012' has 61693 values
column 'CdS_8014' has 61693 values
column 'CdS_8015' has 61693 values
column 'CdS_8016' has 61693 values
column 'CdS_8018' has 61693 values
column 'CdS_8020' has 61693 values
column 'CdS_8021' has 61693 values
column 'CdS_8022' has 61693 values
column 'CdS_8023' has 61693 values
column 'CdS_8025' has 61693 values
column 'CdS_8026' has 61693 values
column 'CdS_8027' has 61693 values
column 'CdS_8028' has 61693 values
column 'CdS_8036' has 61693 values
column 'CdS_8037' has 61693 values
column 'CdS_8038' has 61693 values
column 'CdS_8040' has 61693 values
column 'CdS_8048' has 61693 values
column 'CdS_8049' has 61693 values
column 'CdS_8051' has 61693 values
column 'CdS_8059' has 61693 values
column 'CdS_8060' has 61693 values
column 'CdS_8182' has 61693 values
column 'CdS_8198' has 61693 values
column 'CdS_8204' has 61693 values
column 'CdS_8208' has 61693 values
column 'CdS_8209' has 61693 values
column 'CdS_8210' has 61693 values
column 'CdS_8263' has 61693 values
column 'CdS_8406' has 61693 values
column 'CdS_8408' has 61693 values
column 'CdS_8412' has 61693 values
column 'CdS_8413' has 61693 values
column 'CdS_8414' has 61693 values
column 'CdS_8415' has 61693 values
column 'CdS_8418' has 61693 values
column 'CdS_8419' has 61693 values
column 'CdS_8420' has 61693 values
column 'CdS_8470' has 61693 values
column 'CdS_8473' has 61693 values
column 'CdS_8474' has 61693 values
column 'CdS_8475' has 61693 values
column 'CdS_8476' has 61693 values
column 'CdS_8477' has 61693 values
column 'CdS_8478' has 61693 values
column 'CdS_8479' has 61693 values
column 'CdS_8481' has 61693 values
column 'CdS_8482' has 61693 values
column 'CdS_8483' has 61693 values
column 'CdS_8484' has 61693 values
column 'CdS_8485' has 61693 values
column 'CdS_8486' has 61693 values
column 'CdS_8487' has 61693 values
column 'CdS_8488' has 61693 values
column 'CdS_8491' has 61693 values
column 'CdS_8493' has 61693 values
column 'CdS_8495' has 61693 values
column 'CdS_8512' has 61693 values
column 'CdS_8513' has 61693 values
column 'CdS_8514' has 61693 values
column 'CdS_8515' has 61693 values
column 'CdS_8517' has 61693 values
column 'CdS_8518' has 61693 values
column 'CdS_8519' has 61693 values
column 'CdS_8521' has 61693 values
column 'CdS_8522' has 61693 values
column 'CdS_8523' has 61693 values
column 'CdS_8524' has 61693 values
column 'CdS_8525' has 61693 values
column 'CdS_8526' has 61693 values
column 'CdS_8527' has 61693 values
column 'CdS_8528' has 61693 values
column 'CdS_8531' has 61693 values
column 'CdS_8532' has 61693 values
column 'CdS_8537' has 61693 values
column 'CdS_8540' has 61693 values
column 'CdS_8609' has 61693 values
column 'CdS_8610' has 61693 values
column 'CdS_8611' has 61693 values
column 'CdS_8614' has 61693 values
column 'CdS_8615' has 61693 values
column 'CdS_8616' has 61693 values
column 'CdS_8617' has 61693 values
column 'CdS_8626' has 61693 values
column 'CdS_8766' has 61693 values
column 'CdS_8767' has 61693 values
column 'CdS_8769' has 61693 values
column 'CdS_8770' has 61693 values
column 'CdS_8771' has 61693 values
column 'CdS_8772' has 61693 values
column 'CdS_8773' has 61693 values
column 'CdS_8774' has 61693 values
column 'CdS_8775' has 61693 values
column 'CdS_8776' has 61693 values
column 'CdS_8777' has 61693 values
column 'CdS_8778' has 61693 values
column 'CdS_8779' has 61693 values
column 'CdS_8780' has 61693 values
column 'CdS_8782' has 61693 values
column 'CdS_8783' has 61693 values
column 'CdS_8784' has 61693 values
column 'CdS_8786' has 61693 values
column 'CdS_8829' has 61693 values
column 'CdS_8834' has 61693 values
column 'CdS_8835' has 61693 values
column 'CdS_8836' has 61693 values
column 'CdS_8837' has 61693 values
column 'CdS_8838' has 61693 values
column 'CdS_8839' has 61693 values
column 'CdS_8840' has 61693 values
column 'CdS_8842' has 61693 values
column 'CdS_8843' has 61693 values
column 'CdS_8845' has 61693 values
column 'CdS_8847' has 61693 values
column 'CdS_8848' has 61693 values
column 'CdS_8849' has 61693 values

## Normalizzazione dati
Scrivi perchè normalizzare e non standardizzare

In [65]:
mmscaler = MinMaxScaler()

def scale_n_add_to_dt(dataset, column):
  #print(column.shape)]
  toScale = dataset[column].to_numpy().reshape(-1, 1)
  #print(column.shape)
  scaled_column = mmscaler.fit_transform(toScale).squeeze()
  #print(scaled_column.shape)
  dataset.drop(column, axis=1, inplace=True)
  dataset[column] = scaled_column
  #.squeeze()
  return dataset
  #return pd.concat([dataset, pd.Series(scaled_column)], axis=1)

dt = scale_n_add_to_dt(dt, 'voto_scuola_superiore')
dt = scale_n_add_to_dt(dt, 'media_voto')
dt = scale_n_add_to_dt(dt, 'cfu_superati')
dt = scale_n_add_to_dt(dt, 'AnnoNascita')
dt = scale_n_add_to_dt(dt, 'DurataCorso')
dt = scale_n_add_to_dt(dt, 'Classe_ISEE')

print_columns_len(dt)
dt.info()

column 'ID_Studente' has 61693 values
column 'Genere' has 61693 values
column 'OFA_assegnati' has 61693 values
column 'OFA_superati' has 61693 values
column 'Abbandoni' has 61693 values
column 'Passaggi' has 61693 values
column 'Trasferimenti' has 61693 values
column 'Contribuzione_tasse' has 61693 values
column 'Coorte_2016' has 61693 values
column 'Coorte_2017' has 61693 values
column 'Coorte_2018' has 61693 values
column 'Diploma_1' has 61693 values
column 'Diploma_2' has 61693 values
column 'Diploma_3' has 61693 values
column 'Diploma_4' has 61693 values
column 'Diploma_5' has 61693 values
column 'Diploma_6' has 61693 values
column 'Diploma_7' has 61693 values
column 'Diploma_8' has 61693 values
column 'Diploma_9' has 61693 values
column 'Diploma_99' has 61693 values
column 'area_geografica_scuolasuperiore_1' has 61693 values
column 'area_geografica_scuolasuperiore_2' has 61693 values
column 'area_geografica_scuolasuperiore_3' has 61693 values
column 'area_geografica_scuolasuperiore_4' has 61693 values
column 'area_geografica_scuolasuperiore_5' has 61693 values
column 'area_geografica_scuolasuperiore_99' has 61693 values
column 'area_geografica_residenza_1' has 61693 values
column 'area_geografica_residenza_2' has 61693 values
column 'area_geografica_residenza_3' has 61693 values
column 'area_geografica_residenza_4' has 61693 values
column 'area_geografica_residenza_5' has 61693 values
column 'area_geografica_residenza_99' has 61693 values
column 'CdS_659' has 61693 values
column 'CdS_660' has 61693 values
column 'CdS_881' has 61693 values
column 'CdS_884' has 61693 values
column 'CdS_897' has 61693 values
column 'CdS_899' has 61693 values
column 'CdS_900' has 61693 values
column 'CdS_901' has 61693 values
column 'CdS_902' has 61693 values
column 'CdS_905' has 61693 values
column 'CdS_915' has 61693 values
column 'CdS_916' has 61693 values
column 'CdS_920' has 61693 values
column 'CdS_923' has 61693 values
column 'CdS_924' has 61693 values
column 'CdS_925' has 61693 values
column 'CdS_926' has 61693 values
column 'CdS_927' has 61693 values
column 'CdS_930' has 61693 values
column 'CdS_934' has 61693 values
column 'CdS_935' has 61693 values
column 'CdS_936' has 61693 values
column 'CdS_937' has 61693 values
column 'CdS_938' has 61693 values
column 'CdS_940' has 61693 values
column 'CdS_946' has 61693 values
column 'CdS_949' has 61693 values
column 'CdS_956' has 61693 values
column 'CdS_957' has 61693 values
column 'CdS_962' has 61693 values
column 'CdS_964' has 61693 values
column 'CdS_966' has 61693 values
column 'CdS_970' has 61693 values
column 'CdS_971' has 61693 values
column 'CdS_973' has 61693 values
column 'CdS_977' has 61693 values
column 'CdS_979' has 61693 values
column 'CdS_980' has 61693 values
column 'CdS_981' has 61693 values
column 'CdS_983' has 61693 values
column 'CdS_989' has 61693 values
column 'CdS_990' has 61693 values
column 'CdS_991' has 61693 values
column 'CdS_992' has 61693 values
column 'CdS_993' has 61693 values
column 'CdS_8004' has 61693 values
column 'CdS_8005' has 61693 values
column 'CdS_8006' has 61693 values
column 'CdS_8007' has 61693 values
column 'CdS_8009' has 61693 values
column 'CdS_8010' has 61693 values
column 'CdS_8011' has 61693 values
column 'CdS_8012' has 61693 values
column 'CdS_8014' has 61693 values
column 'CdS_8015' has 61693 values
column 'CdS_8016' has 61693 values
column 'CdS_8018' has 61693 values
column 'CdS_8020' has 61693 values
column 'CdS_8021' has 61693 values
column 'CdS_8022' has 61693 values
column 'CdS_8023' has 61693 values
column 'CdS_8025' has 61693 values
column 'CdS_8026' has 61693 values
column 'CdS_8027' has 61693 values
column 'CdS_8028' has 61693 values
column 'CdS_8036' has 61693 values
column 'CdS_8037' has 61693 values
column 'CdS_8038' has 61693 values
column 'CdS_8040' has 61693 values
column 'CdS_8048' has 61693 values
column 'CdS_8049' has 61693 values
column 'CdS_8051' has 61693 values
column 'CdS_8059' has 61693 values
column 'CdS_8060' has 61693 values
column 'CdS_8182' has 61693 values
column 'CdS_8198' has 61693 values
column 'CdS_8204' has 61693 values
column 'CdS_8208' has 61693 values
column 'CdS_8209' has 61693 values
column 'CdS_8210' has 61693 values
column 'CdS_8263' has 61693 values
column 'CdS_8406' has 61693 values
column 'CdS_8408' has 61693 values
column 'CdS_8412' has 61693 values
column 'CdS_8413' has 61693 values
column 'CdS_8414' has 61693 values
column 'CdS_8415' has 61693 values
column 'CdS_8418' has 61693 values
column 'CdS_8419' has 61693 values
column 'CdS_8420' has 61693 values
column 'CdS_8470' has 61693 values
column 'CdS_8473' has 61693 values
column 'CdS_8474' has 61693 values
column 'CdS_8475' has 61693 values
column 'CdS_8476' has 61693 values
column 'CdS_8477' has 61693 values
column 'CdS_8478' has 61693 values
column 'CdS_8479' has 61693 values
column 'CdS_8481' has 61693 values
column 'CdS_8482' has 61693 values
column 'CdS_8483' has 61693 values
column 'CdS_8484' has 61693 values
column 'CdS_8485' has 61693 values
column 'CdS_8486' has 61693 values
column 'CdS_8487' has 61693 values
column 'CdS_8488' has 61693 values
column 'CdS_8491' has 61693 values
column 'CdS_8493' has 61693 values
column 'CdS_8495' has 61693 values
column 'CdS_8512' has 61693 values
column 'CdS_8513' has 61693 values
column 'CdS_8514' has 61693 values
column 'CdS_8515' has 61693 values
column 'CdS_8517' has 61693 values
column 'CdS_8518' has 61693 values
column 'CdS_8519' has 61693 values
column 'CdS_8521' has 61693 values
column 'CdS_8522' has 61693 values
column 'CdS_8523' has 61693 values
column 'CdS_8524' has 61693 values
column 'CdS_8525' has 61693 values
column 'CdS_8526' has 61693 values
column 'CdS_8527' has 61693 values
column 'CdS_8528' has 61693 values
column 'CdS_8531' has 61693 values
column 'CdS_8532' has 61693 values
column 'CdS_8537' has 61693 values
column 'CdS_8540' has 61693 values
column 'CdS_8609' has 61693 values
column 'CdS_8610' has 61693 values
column 'CdS_8611' has 61693 values
column 'CdS_8614' has 61693 values
column 'CdS_8615' has 61693 values
column 'CdS_8616' has 61693 values
column 'CdS_8617' has 61693 values
column 'CdS_8626' has 61693 values
column 'CdS_8766' has 61693 values
column 'CdS_8767' has 61693 values
column 'CdS_8769' has 61693 values
column 'CdS_8770' has 61693 values
column 'CdS_8771' has 61693 values
column 'CdS_8772' has 61693 values
column 'CdS_8773' has 61693 values
column 'CdS_8774' has 61693 values
column 'CdS_8775' has 61693 values
column 'CdS_8776' has 61693 values
column 'CdS_8777' has 61693 values
column 'CdS_8778' has 61693 values
column 'CdS_8779' has 61693 values
column 'CdS_8780' has 61693 values
column 'CdS_8782' has 61693 values
column 'CdS_8783' has 61693 values
column 'CdS_8784' has 61693 values
column 'CdS_8786' has 61693 values
column 'CdS_8829' has 61693 values
column 'CdS_8834' has 61693 values
column 'CdS_8835' has 61693 values
column 'CdS_8836' has 61693 values
column 'CdS_8837' has 61693 values
column 'CdS_8838' has 61693 values
column 'CdS_8839' has 61693 values
column 'CdS_8840' has 61693 values
column 'CdS_8842' has 61693 values
column 'CdS_8843' has 61693 values
column 'CdS_8845' has 61693 values
column 'CdS_8847' has 61693 values
column 'CdS_8848' has 61693 values
column 'CdS_8849' has 61693 values
column 'CdS_8850' has 61693 values
column 'CdS_8853' has 61693 values
column 'CdS_8854' has 61693 values
column 'CdS_8855' has 61693 values
column 'CdS_8856' has 61693 values
column 'CdS_8857' has 61693 values
column 'CdS_8859' has 61693 values
column 'CdS_8871' has 61693 values
column 'CdS_8872' has 61693 values
column 'CdS_8873' has 61693 values
column 'CdS_8874' has 61693 values
column 'CdS_8875' has 61693 values
column 'CdS_8876' has 61693 values
column 'CdS_8877' has 61693 values
column 'CdS_8878' has 61693 values
column 'CdS_8879' has 61693 values
column 'CdS_8880' has 61693 values
column 'CdS_8882' has 61693 values
column 'CdS_8883' has 61693 values
column 'CdS_8884' has 61693 values
column 'CdS_8885' has 61693 values
column 'CdS_8886' has 61693 values
column 'CdS_8887' has 61693 values
column 'CdS_8888' has 61693 values
column 'CdS_8889' has 61693 values
column 'CdS_8890' has 61693 values
column 'CdS_8891' has 61693 values
column 'CdS_8894' has 61693 values
column 'CdS_8895' has 61693 values
column 'CdS_8896' has 61693 values
column 'CdS_8965' has 61693 values
column 'CdS_9021' has 61693 values
column 'CdS_9022' has 61693 values
column 'CdS_9174' has 61693 values
column 'CdS_9198' has 61693 values
column 'CdS_9199' has 61693 values
column 'CdS_9200' has 61693 values
column 'CdS_9201' has 61693 values
column 'CdS_9202' has 61693 values
column 'CdS_9203' has 61693 values
column 'CdS_9205' has 61693 values
column 'CdS_9206' has 61693 values
column 'CdS_9210' has 61693 values
column 'CdS_9211' has 61693 values
column 'CdS_9212' has 61693 values
column 'CdS_9213' has 61693 values
column 'CdS_9214' has 61693 values
column 'CdS_9215' has 61693 values
column 'CdS_9216' has 61693 values
column 'CdS_9217' has 61693 values
column 'CdS_9218' has 61693 values
column 'CdS_9219' has 61693 values
column 'CdS_9220' has 61693 values
column 'CdS_9221' has 61693 values
column 'CdS_9222' has 61693 values
column 'CdS_9223' has 61693 values
column 'CdS_9224' has 61693 values
column 'CdS_9225' has 61693 values
column 'CdS_9226' has 61693 values
column 'CdS_9227' has 61693 values
column 'CdS_9228' has 61693 values
column 'CdS_9229' has 61693 values
column 'CdS_9230' has 61693 values
column 'CdS_9231' has 61693 values
column 'CdS_9232' has 61693 values
column 'CdS_9233' has 61693 values
column 'CdS_9234' has 61693 values
column 'CdS_9235' has 61693 values
column 'CdS_9236' has 61693 values
column 'CdS_9237' has 61693 values
column 'CdS_9238' has 61693 values
column 'CdS_9239' has 61693 values
column 'CdS_9242' has 61693 values
column 'CdS_9243' has 61693 values
column 'CdS_9244' has 61693 values
column 'CdS_9245' has 61693 values
column 'CdS_9246' has 61693 values
column 'CdS_9247' has 61693 values
column 'CdS_9249' has 61693 values
column 'CdS_9250' has 61693 values
column 'CdS_9254' has 61693 values
column 'CdS_9255' has 61693 values
column 'CdS_9256' has 61693 values
column 'CdS_9257' has 61693 values
column 'Ambito_1' has 61693 values
column 'Ambito_2' has 61693 values
column 'Ambito_3' has 61693 values
column 'Ambito_4' has 61693 values
column 'Ambito_5' has 61693 values
column 'Ambito_6' has 61693 values
column 'Ambito_7' has 61693 values
column 'Ambito_8' has 61693 values
column 'Ambito_9' has 61693 values
column 'Ambito_10' has 61693 values
column 'Ambito_11' has 61693 values
column 'Ambito_12' has 61693 values
column 'Ambito_13' has 61693 values
column 'Ambito_14' has 61693 values
column 'Ambito_15' has 61693 values
column 'Ambito_16' has 61693 values
column 'Campus_1' has 61693 values
column 'Campus_2' has 61693 values
column 'Campus_3' has 61693 values
column 'Campus_4' has 61693 values
column 'Campus_5' has 61693 values
column 'voto_scuola_superiore' has 61693 values
column 'media_voto' has 61693 values
column 'cfu_superati' has 61693 values
column 'AnnoNascita' has 61693 values
column 'DurataCorso' has 61693 values
column 'Classe_ISEE' has 61693 values
<class 'pandas.core.frame.DataFrame'>
Int64Index: 61693 entries, 0 to 67279
Columns: 312 entries, ID_Studente to Classe_ISEE
dtypes: float64(7), int64(7), uint8(298)
memory usage: 24.6 MB

## Salvataggio su file excel

In [66]:
dt.to_excel(base_url + 'final_dataset.xlsx')